# EditorConfig is awesome: https://editorconfig.org

# Root File.
root = true


# Optimezed to UNIX like OS and JSON files.
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Markdown and text must be idented as normal.
[*.md]
indent_size = 4
